<table class="table table-striped">
	<tr>
		<td>Id</td>
		<td>{{#id}}{{id}}{{/id}}</td>
	</tr>
	<tr>
		<td>Название</td>
		<td>{{#name}}{{name}}{{/name}}</td>
	</tr>
	<tr>
		<td>Крыша</td>
		<td>{{#is_shelter}}{{is_shelter}}{{/is_shelter}}</td>
	</tr>
	<tr>
		<td>Скамейка</td>
		<td>{{#is_bench}}{{is_bench}}{{/is_bench}}</td>
	</tr>
	<tr>
		<td>Тип</td>
		<td>{{#stop_type_id}}{{stop_type_id}}{{/stop_type_id}}</td>
	</tr>
	<tr>
		<td>Проверена</td>
		<td>{{#is_check}}{{is_check}}{{/is_check}}</td>
	</tr>
</table>